In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
matches = pd.read_csv("matches.csv")
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [3]:
min(matches["id"])

335982

In [4]:
max(matches["id"]) - min(matches["id"])

1090330

In [5]:
matches.shape

(1095, 20)

In [6]:
matches2 = matches["id"].sort_index

In [7]:
matches2

<bound method Series.sort_index of 0        335982
1        335983
2        335984
3        335985
4        335986
         ...
1090    1426307
1091    1426309
1092    1426310
1093    1426311
1094    1426312
Name: id, Length: 1095, dtype: int64>

In [8]:
matches["city"].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', nan, 'Rajkot', 'Kanpur', 'Bengaluru', 'Dubai',
       'Sharjah', 'Navi Mumbai', 'Lucknow', 'Guwahati', 'Mohali'],
      dtype=object)

In [9]:
deliveries = pd.read_csv("deliveries.csv")

In [10]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [11]:
deliveries.shape

(260920, 17)

In [12]:
max(deliveries["match_id"]) - min(deliveries["match_id"])

1090330

In [13]:
deliveries["inning"].unique()

array([1, 2, 3, 4, 5, 6])

In [14]:
total_score = deliveries.groupby(["match_id", "inning"]).sum()["total_runs"].reset_index()
total_score = total_score[total_score["inning"] == 1]

'''
1. Here first we performed groupby -> it groups the two columns as one like in sql
    Dataset has values like runs, overs etc. Here it combines all when grouped by
2. Then performing .sum() combines their internal values
    Like runs -> total_runs, overs -> total_overs
3. It finds the total_runs columns from the group. by performing [total_sum]
4. .reset_index() resets the index again from 1 to len(deliveries)'''

'\n1. Here first we performed groupby -> it groups the two columns as one like in sql\n    Dataset has values like runs, overs etc. Here it combines all when grouped by\n2. Then performing .sum() combines their internal values\n    Like runs -> total_runs, overs -> total_overs\n3. It finds the total_runs columns from the group. by performing [total_sum]\n4. .reset_index() resets the index again from 1 to len(deliveries)'

In [15]:
total_score.head()

   match_id  inning  total_runs
0    335982       1         222
2    335983       1         240
4    335984       1         129
6    335985       1         165
8    335986       1         110

In [16]:
match = matches.merge(total_score[["match_id","total_runs"]], left_on = "id", right_on = "match_id")
'''
Here panda merges `matches` and `total_score`
Here the merging criteria with left_on and right_on is:
matches.id == total_score.match_id'''

'\nHere panda merges `matches` and `total_score`\nHere the merging criteria with left_on and right_on is:\nmatches.id == total_score.match_id'

In [17]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [18]:
match["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [ ]:
teams = [
    "Chennai Super Kings",
    "Delhi Capitals",
    "Gujarat Titans",
    "Kolkata Knight Riders",
    "Lucknow Super Giants",
    "Mumbai Indians",
    "Punjab Kings",
    "Rajasthan Royals",
    "Royal Challengers Bengaluru",
    "Sunrisers Hyderabad"
]

In [20]:
match["team1"] = match["team1"].str.replace("Royal Challengers Bangalore","Royal Challengers Bengaluru")
match["team2"] = match["team2"].str.replace("Royal Challengers Bangalore","Royal Challengers Bengaluru")

match["team1"] = match["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match["team2"] = match["team2"].str.replace("Delhi Daredevils","Delhi Capitals")

match["team1"] = match["team1"].str.replace("Kings XI Punjab","Punjab Kings")
match["team2"] = match["team2"].str.replace("Kings XI Punjab","Punjab Kings")

match["team1"] = match["team1"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
match["team2"] = match["team2"].str.replace("Deccan Chargers","Sunrisers Hyderabad")

In [21]:
match["team1"].unique()

array(['Royal Challengers Bengaluru', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Rising Pune Supergiant',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [22]:
match = match[match["team1"].isin(teams)]
match = match[match["team2"].isin(teams)]

In [23]:
match["team1"].unique()

array(['Royal Challengers Bengaluru', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [24]:
match.shape

(980, 22)

In [25]:
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'total_runs'],
      dtype='object')

In [26]:
match = match[["match_id","city","winner","total_runs"]]
match.head()

   match_id        city                       winner  total_runs
0    335982   Bangalore        Kolkata Knight Riders         222
1    335983  Chandigarh          Chennai Super Kings         240
2    335984       Delhi             Delhi Daredevils         129
3    335985      Mumbai  Royal Challengers Bangalore         165
4    335986     Kolkata        Kolkata Knight Riders         110

In [27]:
deliveries_df = match.merge(deliveries, on = "match_id")
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [28]:
deliveries_df = deliveries_df[deliveries_df["inning"] == 2]
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN

In [29]:
deliveries_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'extras_type',
       'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [30]:
deliveries_df["batting_team"] = deliveries_df["batting_team"].str.replace("Royal Challengers Bangalore","Royal Challengers Bengaluru")
deliveries_df["bowling_team"] = deliveries_df["bowling_team"].str.replace("Royal Challengers Bangalore","Royal Challengers Bengaluru")

deliveries_df["batting_team"] = deliveries_df["batting_team"].str.replace("Delhi Daredevils","Delhi Capitals")
deliveries_df["bowling_team"] = deliveries_df["bowling_team"].str.replace("Delhi Daredevils","Delhi Capitals")

deliveries_df["batting_team"] = deliveries_df["batting_team"].str.replace("Kings XI Punjab","Punjab Kings")
deliveries_df["bowling_team"] = deliveries_df["bowling_team"].str.replace("Kings XI Punjab","Punjab Kings")

deliveries_df["batting_team"] = deliveries_df["batting_team"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
deliveries_df["bowling_team"] = deliveries_df["bowling_team"].str.replace("Deccan Chargers","Sunrisers Hyderabad")

In [31]:
deliveries_df["batting_team"].unique()

array(['Royal Challengers Bengaluru', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Gujarat Titans',
       'Lucknow Super Giants'], dtype=object)

In [32]:
deliveries_df["current_score"] = deliveries_df.groupby("match_id")["total_runs_y"].cumsum()
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4

In [33]:
## find the runs left
deliveries_df["runs_left"] = deliveries_df["total_runs_x"] - deliveries_df["current_score"]
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,1,221
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,1,wides,0,NaN,NaN,NaN,2,220
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,0,NaN,0,NaN,NaN,NaN,2,220
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,1,0,1,NaN,0,NaN,NaN,NaN,3,219
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,4,218

In [34]:
deliveries_df["balls_left"] = 120 - (deliveries_df["over"]*6 + deliveries_df["ball"])
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,221,119
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,220,118
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,220,117
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,219,116
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,218,115

In [35]:
deliveries_df.isnull().sum()

match_id                 0
city                  6012
winner                  27
total_runs_x             0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs_y             0
extras_type         106706
is_wicket                0
player_dismissed    107193
dismissal_kind      107193
fielder             108796
current_score            0
runs_left                0
balls_left               0
dtype: int64

In [36]:
deliveries_df["player_dismissed"] = deliveries_df["player_dismissed"].fillna(0)
deliveries_df["player_dismissed"] = deliveries_df["player_dismissed"].apply(lambda x:x if x == 0 else 1)

In [37]:
## finding the wickets left
wickets = deliveries_df.groupby("match_id")["player_dismissed"].cumsum()
deliveries_df["wickets_left"] = 10 - wickets
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,0,NaN,NaN,1,221,119,10
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,0,NaN,NaN,2,220,118,10
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,0,NaN,NaN,2,220,117,10
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,0,NaN,NaN,3,219,116,10
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,0,NaN,NaN,4,218,115,10

In [38]:
# finding how many wickets gone
deliveries_df["wickets"] = wickets
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,wickets
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,NaN,0,0,NaN,NaN,1,221,119,10,0
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,wides,0,0,NaN,NaN,2,220,118,10,0
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,0,0,NaN,NaN,2,220,117,10,0
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,0,0,NaN,NaN,3,219,116,10,0
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,NaN,0,0,NaN,NaN,4,218,115,10,0

In [39]:
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,wickets
233896,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,0,0,NaN,NaN,110,3,61,8,2
233897,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,0,0,NaN,NaN,111,2,60,8,2
233898,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,0,0,NaN,NaN,112,1,59,8,2
233899,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,0,0,NaN,NaN,113,0,58,8,2
233900,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,0,0,NaN,NaN,114,-1,57,8,2

In [40]:
# finding current Run Rate
deliveries_df["crr"] = (deliveries_df["current_score"]*6) / (120 - deliveries_df["balls_left"])
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,wickets,crr
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,221,119,10,0,6.0
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,220,118,10,0,6.0
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,220,117,10,0,4.0
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,219,116,10,0,4.5
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,218,115,10,0,4.8

In [41]:
## Finding Required Run Rate
deliveries_df["rrr"] = (deliveries_df["runs_left"]*6) / (deliveries_df["balls_left"] + 0.0001)
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,wickets,crr,rrr
233896,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,NaN,NaN,110,3,61,8,2,11.186441,0.295081
233897,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,NaN,NaN,111,2,60,8,2,11.100000,0.200000
233898,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,NaN,NaN,112,1,59,8,2,11.016393,0.101695
233899,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,NaN,NaN,113,0,58,8,2,10.935484,0.000000
233900,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,NaN,NaN,114,-1,57,8,2,10.857143,-0.105263

In [42]:
deliveries_df["r/w_ratio"] = deliveries_df["current_score"]/(deliveries_df["wickets"] + 0.00001)
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,wickets,crr,rrr,r/w_ratio
233896,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,NaN,110,3,61,8,2,11.186441,0.295081,54.999725
233897,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,NaN,111,2,60,8,2,11.100000,0.200000,55.499723
233898,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,NaN,112,1,59,8,2,11.016393,0.101695,55.999720
233899,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,NaN,113,0,58,8,2,10.935484,0.000000,56.499718
233900,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,NaN,114,-1,57,8,2,10.857143,-0.105263,56.999715

In [43]:
def result(row):
    return 1 if row["batting_team"] == row["winner"] else 0

In [44]:
deliveries_df["result"] = deliveries_df.apply(result, axis = 1)
deliveries_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,fielder,current_score,runs_left,balls_left,wickets_left,wickets,crr,rrr,r/w_ratio,result
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,R Dravid,...,NaN,1,221,119,10,0,6.0,11.142848,100000.0,0
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,2,220,118,10,0,6.0,11.186431,200000.0,0
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,2,220,117,10,0,4.0,11.282042,200000.0,0
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,3,219,116,10,0,4.5,11.327576,300000.0,0
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,R Dravid,...,NaN,4,218,115,10,0,4.8,11.373903,400000.0,0

In [45]:
deliveries_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'extras_type',
       'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder',
       'current_score', 'runs_left', 'balls_left', 'wickets_left', 'wickets',
       'crr', 'rrr', 'r/w_ratio', 'result'],
      dtype='object')

In [46]:
print("city, total_runs_x, batting_team, bowling_team, runs_left, balls_left, wickets_left, crr, rrr, r/w_ratio, result")

city, total_runs_x, batting_team, bowling_team, runs_left, balls_left, wickets_left, crr, rrr, r/w_ratio, result

In [47]:
final_df = deliveries_df[["batting_team","bowling_team","city","runs_left","balls_left","wickets_left","total_runs_x","crr","rrr","r/w_ratio","result"]]

In [48]:
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,r/w_ratio,result
124,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,221,119,10,222,6.0,11.142848,100000.0,0
125,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,220,118,10,222,6.0,11.186431,200000.0,0
126,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,220,117,10,222,4.0,11.282042,200000.0,0
127,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,116,10,222,4.5,11.327576,300000.0,0
128,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,218,115,10,222,4.8,11.373903,400000.0,0

In [49]:
final_df = final_df.sample(final_df.shape[0])
final_df.tail()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,r/w_ratio,result
135988,Royal Challengers Bengaluru,Rajasthan Royals,Jaipur,47,18,2,164,6.882353,15.666580,1.462498e+01,0
94965,Kolkata Knight Riders,Punjab Kings,Bangalore,56,35,7,199,10.094118,9.599973,4.766651e+01,1
195696,Sunrisers Hyderabad,Kolkata Knight Riders,Pune,111,60,8,177,6.600000,11.099982,3.299984e+01,0
173871,Mumbai Indians,Chennai Super Kings,Dubai,49,20,4,156,6.420000,14.699927,1.783330e+01,0
174062,Kolkata Knight Riders,Royal Challengers Bengaluru,Abu Dhabi,22,74,10,92,9.130435,1.783781,7.000000e+06,1

In [50]:
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            6012
runs_left          0
balls_left         0
wickets_left       0
total_runs_x       0
crr                0
rrr                0
r/w_ratio          0
result             0
dtype: int64

In [51]:
final_df.dropna(inplace = True)

In [52]:
# splitting to x and y
# then train, test, split
x = final_df.drop("result",axis = 1)
y = final_df["result"]

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [53]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer(
    [("trf",OneHotEncoder(drop = "first"), ["batting_team","bowling_team","city"])
], remainder = "passthrough"
)

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [55]:
pipe = Pipeline(steps = [
    ("step1",trf),
    ("step2",RandomForestClassifier())
])

In [56]:
pipe.fit(xtrain, ytrain)

d:\CODES\Machine_learning\Udemy_ml_course\ml\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier())])

In [57]:
## predicting 
ypred = pipe.predict(xtest)

In [58]:
from sklearn.metrics import accuracy_score
accuracy_score(ypred, ytest)

0.9984549838475584

In [59]:
pipe.predict_proba(xtest)[10]

array([1., 0.])

In [60]:
import pickle
pickle.dump(pipe, open("pipe.pkl","wb"))